/* --- CSS styles for studytool website ---*/

/* --- define colors as custom variables for easy use --- */
:root {
  --light-green: #A8E6A7;
  --dark-green: #225560;
  --black: #1A1110;
  --red: #A6192E;
  --white: #FFFFFF;
}

/* --- general styles --- */
body {
  background-color: var(--light-green);
}
/*use h2 for the invisible filler text in the dark green columns */
h2 {
  color: var(--dark-green);
}
h3 {
  color: var(--black);
  text-align: center;
}
p {
  color: var(--black);
}

/* --- accessibility styles --- */
.hyper-font {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}
.comic-font {
  font-family: 'Comic Neue', sans-serif;
}
/* re-defines the colors used across the entire site */
.black-yellow-color {
  --light-green: #FFD600;
  --dark-green: #000000;
  --black: #000000;
  --red: #000000;
  --white: #FFFFFF;
}
.vibrant-color {
  --light-green: #9d021c;
  --dark-green: #004DCA;
  --black: #000000;
  --red: #042E9E;
  --white: #FFFFFF;
}


/* --- columns and page layout --- */
.col-md-3 {
  background-color: var(--dark-green);
}
.col-md-6 {
  background-color: var(--white);
}
.row.d-flex.align-items-stretch {
  display: flex;
  flex-wrap: wrap;
}
.row.d-flex.align-items-stretch > [class^="col-"] {
  display: flex;
  flex-direction: column;
}

/* --- navbar --- */
.navbar-inverse {
background-color: var(--dark-green);
border-color: var(--dark-green);
overflow: hidden;
}
.navbar-fixed-top {
  border-bottom-width: 0px;
}
.navbar-inverse .navbar-brand {
color: var(--white);
}
.navbar-inverse .navbar-nav>li>a {
float: left;
color: var(--white);
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.navbar-inverse a:hover {
background-color: var(--white);
color: var(--black);
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
color: var(--white);
background-color: var(--light-green);
}

/* --- forms --- */
.form-group label {
  color: var(--black);
  font-weight: 400;
  line-height: 1.5;
}
input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--dark-green);
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--white);
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input:focus {
  outline: none;
  border-color: var(--dark-green);
}

/* --- special elements and buttons --- */
blockquote {
  font-style: normal;
  color: var(--black);
}
.jumbotron {
  background-color: var(--white);
}
.btn.btn-success {
  background-color:var(--light-green);
}
.btn.btn-danger {
  background-color: var(--red);
}
.btn.btn-block {
  background-color: var(--red);
  border-color: var(--red);
}