<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Making a Plan</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Studying LHS</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/tutorial1">Start Here</a></li>
              <li><a href="/tutorial2">Make a Plan</a></li>
              <li class="active"><a href="/pre-calculator">Calculate Study Time</a></li>
              <li><a href="/tutorial3">Study Techniques</a></li>
            </ul>
          </div>
        </div>
    </nav>
    
    <div class="jumbotron text-center">
      <h1>The When</h1>
      <p>Find out what you can do!</p>
    </div>
    
    <div class="container-fluid">
      <div class="row d-flex align-items-stretch">
        <div class="col-md-3">
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
        </div>
      <div class="col-md-6">
        <h3>Enter your studying goals</h3>
        <br><br>
        <form action="/calculate" method="post">
                <div class="form-group">
                    <label for="days">How many weeks until your exam?</label>
                    <input 
                    type="number" 
                    class="form-control" 
                    id="n_weeks" 
                    name="n_weeks" 
                    required>
                </div>
                <div class="form-group">
                  <label for="goal">How many hours of study do you need, to feel ready for your exams?</label>
                  <input
                  type="number"
                  class="form-control"
                  id="goal"
                  name="goal"
                  required>
                </div>
                <div class="form-group">
                  <label for="hours">How many hours a day do you want to study?</label>
                  <input
                  type="number"
                  class="form-control"
                  id="hours"
                  name="hours"
                  required>
                </div>
                <br>
                <div class="row">

                  <div class="col-sm-6">

                    <div class="form-group" id="technique_selection">
                      <label for="technique_selection">Would you like to use one of these time management techniques?</label>
                      <div class="form-check" style="margin-left: 40px;">
                        <input type="radio" class="form-check-input" id="pomodoro" name="technique" value="pomodoro">
                        <label class="form-check-label" for="pomodoro">Pomodoro</label>
                      </div>
                      <div class="form-check" style="margin-left: 40px;">
                        <input type="radio" class="form-check-input" id="interleaving" name="technique" value="interleaving">
                        <label class="form-check-label" for="interleaving">Interleaving</label>
                      </div>
                      <div class="form-check" style="margin-left:40px;">
                        <input type="radio" class="form-check-input" id="both" name="technique" value="both">
                        <label class="form-check-label" for="both">Both</label>
                      </div>
                      <div class="form-check" style="margin-left: 40px;">
                        <input type="radio" class="form-check-input" id="neither" name="technique" value="neither">
                        <label class="form-check-label" for="neither">Neither</label>
                      </div>
                    </div>

                  </div>

                  <div class="col-sm-6">

                    <div class="form-group" id="week">
                      <div class="row">
                      <label for="week">Which days of the week would you like to study?</label>  

                        <div class="col col-sm-6"> <!--Monday to Thursday-->
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="Monday" name="week[]" value="Monday">
                            <label class="form-check-label" for="Monday">Monday</label>
                          </div>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="Tuesday" name="week[]" value="Tuesday">
                            <label class="form-check-label" for="Tuesday">Tuesday</label>
                          </div>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="Wednesday" name="week[]" value="Wednesday">
                            <label class="form-check-label" for="Wednesday">Wednesday</label>
                          </div>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="Thursday" name="week[]" value="Thursday">
                            <label class="form-check-label" for="Thursday">Thursday</label>
                          </div>
                        </div>

                        <div class="col col-sm-6"> <!--Friday to Sunday-->
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="Friday" name="week[]" value="Friday">
                            <label class="form-check-label" for="Friday">Friday</label>
                          </div>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="Saturday" name="week[]" value="Saturday">
                            <label class="form-check-label" for="Saturday">Saturday</label>
                          </div>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="Sunday" name="week[]" value="Sunday">
                            <label class="form-check-label" for="Sunday">Sunday</label>
                          </div>
                        </div>

                      </div>

                    </div>

                  </div>

                </div>
                <br>
                <div class="col text-center">
                  <button type="submit" class="btn btn-default">Go!</button>
                </div>
                <br><br><br>
            </form>
      </div>
      <div class="col-md-3">
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
      </div>
      </div>
    </div>

</body>
</html>