<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Home Page</title>
</head>
<body>

    <!--
    <div class="navbar">
        <div class="container-fluid">
            <div class="header"></div>
    </div>
    -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Studying LHS</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/tutorial1">Start Here</a></li>
              <li><a href="/tutorial2">Make a Plan</a></li>
              <li><a href="/tutorial3">How to Study</a></li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="jumbotron text-center">
    <h1>This is the homepage</h1>
    <p>Introduce some information</p>
    </div>
    
    <div class="container-fluid">
      <div class="row d-flex align-itmes-stretch">

          <div class="col-md-3">
            <div class="h-100 bg-light p-3">
              <h2>Column 1</h2>
              <h2>Column 1</h2>
              <h2>Column 1</h2>
              <h2>Column 1</h2>
              <h2>Column 1</h2>
            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 bg-light p-3">
              <h3>So you made it to year 12...</h3>
              <p></p>
              <p>You're probably wondering what exams are like</p>
              <p>And if you need to start studying yet</p>
              <p>And also... how to study...?</p>
              <p></p>
              <p>Don't panic</p>
              <p>Follow the interactive tutorials on this website, and (hopefully) I guarantee you'll have the studying strategies to succeed, a plan in hand, and feel confident going into your exams. </p>
              <a href="/tutorial1" class="btn btn-default" role="button">Get started!</a>
              <p></p>
            </div>
        </div>
          
        <div class="col-md-3">
          <div class="h-100 bg-light p-3">
            <h2>Column 1</h2>
            <h2>Column 1</h2>
            <h2>Column 1</h2>
            <h2>Column 1</h2>
            <h2>Column 1</h2>
          </div>
        </div>

    </div>

      
</body>

</html>