<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <!-- load CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- load jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- load bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- load my stylesheet -->
    <link rel="stylesheet" href="static/styles.css">

    <!-- load accessibility fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <title>Home Page</title>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Studying LHS</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/tutorial1">Start Here</a></li>
          <li><a href="/tutorial2">Make a Plan</a></li>
          <li><a href="/pre-calculator">Calculate Study Time</a></li>
          <li><a href="/tutorial3">Study Techniques</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/settings" >
              Settings  <img src="/static/settings.png" alt="settings" height="25px" width="auto" style="padding: 2px;">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1>Home</h1>
  </div>
    
  <div class="container-fluid">
    <div class="row d-flex align-items-stretch">
      
      <div class="col-xs-12 col-md-3">
        <!--Empty filler-->
        <h2>Text</h2>
      </div>

      <div class="col-xs-12 col-md-6">

        <h3>So you made it to year 12...</h3>
        <p>You're probably wondering what exams are like.</p>
        <p>And if you need to start studying yet.</p>
        <p>And also... how to study...?</p>
        <p></p>
        <p>Don't panic. Follow the interactive tutorials on this website, and (hopefully) I guarantee you'll leave with a plan in hand. </p>
        <br>
        <h3>Here are the steps</h3>
        <p>1. Find out <i>what</i> to study (ie. complex circuits, verb tenses, practice essays)</p>
        <p>2. Decide <i>when</i> (ie. two half-hour sprints after dinner, an hour each morning)</p>
        <p>3. Learn <i>how</i> (i.e. the SQ3R method, retrieval strategies, interleaving practices)</p>
        <br><br>
        <div class="text-center">
          <a href="/tutorial1" class="btn btn-default" role="button">Go!</a>
        </div>
        <br><br>
      </div>

      <div class="col-xs-12 col-md-3">
        <!--Empty filler-->
        <h2>Text</h2>
      </div>

    </div>
  </div>

  <script>
    //on load, check if they have a font preference saved, and apply it
    window.onload = function() {
        const theirFont = localStorage.getItem('selectedFont');
        const theirColor = localStorage.getItem('selectedColor');
        if (theirFont) {
            document.body.classList.add(theirFont);
        }
        if (theirColor) {
          document.body.classList.add(theirColor);
        }
    };
  </script>

</body>
</html>