<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <!-- load CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- load jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- load bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- load my stylesheet -->
    <link rel="stylesheet" href="static/styles.css">

    <!-- load accessibility fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <title>Motivational Tips</title>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Studying LHS</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/tutorial1">Start Here</a></li>
                    <li><a href="/tutorial2">Make a Plan</a></li>
                    <li><a href="/pre-calculator">Calculate Study Time</a></li>
                    <li class="active"><a href="/tutorial3">Study Techniques</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <a href="/settings" >
                        Settings  <img src="/static/settings.png" alt="settings" height="25px" width="auto" style="padding: 2px;">
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>Motivation</h1>
        <p>A comprehensive, collated list, of motivation techniques from all over the internet<p>
    </div>
    
    <div class="container-fluid">
        <div class="row d-flex align-items-stretch">

            <div class="col-xs-12 col-md-3">
                <h2>Empty column</h2>
            </div>

            <div class="col-xs-12 col-md-6">
                
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>Rate Urgency</h4>
                        </div>
                        <div class="flip-card-back">
                            <p>I like to force myself to get it over and done with first thing in my study session,
                                so I don't have to worry about it anymore. - <a href="https://studytime.co.nz/articles/study-advice/9-study-hacks-when-youre-unmotivated-af/" target="_blank" rel="noopener noreferrer">studytime</a> </p>
                            <p>Write a list of the three most urgent things you need to do. Do the hardest first. Don't procrastinate. You'll feel much better.</p>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>Minimising distractions</h4>
                        </div>
                        <div class="flip-card-back">
                            <p>I remind myself that I'll actually enjoy my time on social media or
                                messing around doing other stuff more if I do it at a time I won't feel guilty about it.
                                - <a href="https://studytime.co.nz/articles/study-advice/9-study-hacks-when-youre-unmotivated-af/" target="_blank" rel="noopener noreferrer">studytime</a>
                            </p>
                            <p>Lock your phone in the car, powered off. Put a piece of paper next to you.
                                Whenever you get distracted, write it on the sheet. Keep going.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>Switch it up</h4>
                        </div>
                        <div class="flip-card-back">
                            <p>This is one for really desperate times, not to be used all year round.
                                - <a href="https://www.oxford-royale.com/articles/tips-studying-motivation" target="_blank" rel="noopener noreferrer">oxfordroyale</a>
                            </p>
                            <p>Get up at 3am. There are no distractions then, you'll be fresh, and can feel smug that you're up working before everyone else.</p>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>Something positive</h4>
                        </div>
                        <div class="flip-card-back">
                            <p>Boost your mood by adding a little fun to something you're not motivated to do - 
                                <a href="https://www.verywellmind.com/what-to-do-when-you-have-no-motivation-4796954" target="_blank" rel="noopener noreferrer">verywellmind</a>
                            </p>
                            <p>Create a study space. This could be anywhere. But not somewhere you mentally associate with doom scrolling.
                                Create a study playlist. Burn a scented candle. Bring snacks or friends. Reward yourself.</p>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>Push through</h4>
                        </div>
                        <div class="flip-card-back">
                            <p>Many people think we need to feel motivated enough before doing something.
                                However, psychological research has shown the converse, and it is the action that 
                                leads to motivation, which then leads to more action! - <a href="https://ucsa.org.nz/news/article/6013/Our-best-tips-for-motivation-and-study/" target="_blank" rel="noopener noreferrer">ucsa</a>
                            </p>
                            <p>Even if you don't feel motivated, just try. Push through the first painful study sprint. Get into the zone.
                                To help, try the 2 techniques below.</p>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>Fake it</h4>
                        </div>
                        <div class="flip-card-back">
                            <p>Act as if you feel motivated: ask yourself, “What would I be doing right now if I felt 
                                motivated?” Consider what you’d be wearing, how you’d be thinking, and what actions you’d be taking, and do that - 
                                <a href="https://www.verywellmind.com/what-to-do-when-you-have-no-motivation-4796954" target="_blank" rel="noopener noreferrer">verywellmind</a>
                            </p>
                            <p>Just start pretending. You've got nothing to lose.</p>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>10 minute rule</h4>
                        </div>
                        <div class="flip-card-back">
                            <p>Once you get started with a task, it's usually much easier to keep going. - 
                                <a href="https://www.verywellmind.com/what-to-do-when-you-have-no-motivation-4796954" target="_blank" rel="noopener noreferrer">verywellmind</a>
                            </p>
                            <p>Give yourself permission to quit. After 10 minutes you're giving up.
                                Just do those ten minutes. If you don't get in the zone, try getting a snack, or exercising.</p>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>Exercise!</h4>
                        </div>
                        <div class="flip-card-back">
                            <p>It's been proven a hundred times over: regular exercise boosts concentration.
                                - <a href="https://www.oxford-royale.com/articles/tips-studying-motivation" target="_blank" rel="noopener noreferrer">oxfordroyale</a>
                            </p>
                            <p>Get up, play some music, and dance for 15 minutes. Do some starjumps. Run around the garden 10 times. 
                                Get the blood flowing to your brain, then come back to the task.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>Fuel your brain</h4>
                        </div>
                        <div class="flip-card-back">
                            <p>When our motivation is low for study we can feel both stressed and drained.
                                So boosting your energy usually starts with caring for your body and your brain - 
                                <a href="https://www.theinsightcentre.ie/studymotivation/" target="_blank" rel="noopener noreferrer">insightcenter</a>
                            </p>
                            <p>Very self explanatory.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-md-3">
                <h2>Empty column</h2>
            </div>

        </div>
    </div>

    <script>
        //on load, check if they have a font preference saved, and apply it
        window.onload = function() {
            const theirFont = localStorage.getItem('selectedFont');
            const theirColor = localStorage.getItem('selectedColor');
            if (theirFont) {
                document.body.classList.add(theirFont);
            }
            if (theirColor) {
                document.body.classList.add(theirColor);
            }
        };
    </script>

</body>
</html>