<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <!-- load CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- load jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- load bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- load my stylesheet -->
    <link rel="stylesheet" href="static/styles.css">

    <!-- load accessibility fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <title>How to Study for Languages</title>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Studying LHS</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/tutorial1">Start Here</a></li>
          <li><a href="/tutorial2">Make a Plan</a></li>
          <li class="active"><a href="/pre-calculator">Calculate Study Time</a></li>
          <li><a href="/tutorial3">Study Techniques</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/settings" >
              Settings  <img src="/static/settings.png" alt="settings" height="25px" width="auto" style="padding: 2px;">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1>The When</h1>
    <p>First, consider these</p>
  </div>

  <div class="container-fluid">
    <div class="row d-flex align-items-stretch">

      <div class="col-xs-12 col-md-3">
        <h2>Text</h2>
      </div>

      <div class="col-xs-12 col-md-6">
        <h4 style="text-align: center;">The Pomodoro Technique</h4>
        <blockquote>Enter: the Pomodoro Technique. Choosing one task and focusing on it for 25 minute intervals, 
          taking a 5 minute break and repeating - studytime.</blockquote>
        <ul>
          <li>Each "pomodoro" is a 25 sprint of work where you only focus on one task</li>
          <li>After each sprint you take a 5-minute break</li>
          <li>After 4 in a row you take a 15-30 minute break</li>
          <li>Repeat until your work is done</li>
          <li>This will improve your focus and wellbeing.</li>
        </ul>
        <br><br>
          <h4 style="text-align: center;">Interleaving Practice</h4>
          <blockquote>Interleaving practice is the perfect opposite to learning styles, and that's why we love it... It's all about jumping 
              between different study methods and different topics - studytime.</blockquote>
          <ul>
            <li>Chuck on a 15 minute timer</li>
            <li>Focus on one thing, such as brainstorming novel themes, or solving merit level algebra questions</li>
            <li>Take a break</li>
            <li>Start another 15 minute timer</li>
            <li>Work on <i>another</i> subject, or another standard or topic within that subject</li>
            <li>This keeps your brain engaged.</li>
          </ul>
          <br><br><br><br>
          <div class="text-center">
            <a href="/calculator" class="btn btn-default" role="button">Calculate Study Time</a>
          </div>
          <br><br><br><br>        
        </div>

      <div class="col-xs-12 col-md-3">
        <h2>Text</h2>
      </div>

    </div>
  </div>
    
  <script>
    //on load, check if they have a font preference saved, and apply it
    window.onload = function() {
        const theirFont = localStorage.getItem('selectedFont')
        if (theirFont) {
            document.body.classList.add(theirFont);
        }
    };
  </script>
  
</body>
</html>