<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <!-- load CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- load jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- load bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- load my stylesheet -->
    <link rel="stylesheet" href="static/styles.css">

    <!-- load accessibility fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <title>Memorization Tips</title>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Studying LHS</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/tutorial1">Start Here</a></li>
            <li><a href="/tutorial2">Make a Plan</a></li>
            <li><a href="/pre-calculator">Calculate Study Time</a></li>
            <li class="active"><a href="/tutorial3">Study Techniques</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/settings" >
                Settings  <img src="/static/settings.png" alt="settings" height="25px" width="auto" style="padding: 2px;">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1>Memorizing</h1>
      <p>A comprehensive, collated list, of tips to memorize material, from all over the internet<p>
    </div>
    
    <div class="container-fluid">
      <div class="row d-flex align-items-stretch">

        <div class="col-xs-12 col-md-3">
          <h2>Text</h2>
        </div>
      
        <div class="col-xs-12 col-md-6">

        <!--

        <div class="row d-flex align-items-stretch">
          <div class="col-xs-12 col-md-6">
            <div class="flip-card extra-long">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <h4>Tip</h4>
                </div>
                <div class="flip-card-back">
                  <p>Quote</p>
                  <p>Explanation</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="flip-card extra-long">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <h4>Tip</h4>
                </div>
                <div class="flip-card-back">
                  <p>Quote</p>
                  <p>Explanation</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      -->


          <br><br>

          <blockquote class="active">Disclaimer: Reading is not studying. Simply reading and re-reading texts or notes is not 
            actively engaging in the material. It is simply re-reading your notes. Only ‘doing’ the readings for class is not 
            studying. It is simply doing the reading for class. Re-reading leads to quick forgetting
          - <a href="https://learningcenter.unc.edu/tips-and-tools/studying-101-study-smarter-not-harder/#:~:text=Try%20to%20explain%20the%20material,help%20you%20retain%20the%20information." target="_blank" rel="noopener noreferrer">learningcenter</a></blockquote>
        
          <p>If you're having issues with thinking you understand the material, but you forget stuff. You need 
            to read <a href="https://inspirationeducation.co.nz/study-tips/illusions-learning-may-robbing-children-success-school/" target="_blank" rel="noopener noreferrer">this!</a> It's all about the illusion of learning. Which I don't have time to go into more detail about here.
          </p>

          <h4>Past papers</h4>
          <blockquote>Do the sample problems and explain how you got from the question to the answer. 
            Re-do the problems that give you trouble. Learning the material in this way actively 
            engages your brain and will significantly improve your memory -
              <a href="https://learningcenter.unc.edu/tips-and-tools/studying-101-study-smarter-not-harder/#:~:text=Try%20to%20explain%20the%20material,help%20you%20retain%20the%20information." target="_blank" rel="noopener noreferrer">learningcenter</a></blockquote>
          <p> Look for patterns. Study the marking schedule. If you need past papers, try 
            <a href="https://www.nobraintoosmall.co.nz/" target="_blank" rel="noopener noreferrer">nobraintoosmall</a>
            </p>
          <br>

          <h4>Linking ideas</h4>
          <blockquote>For example, when learning about DNA, you could think about where you've heard the word DNA before 
            - on the news, on YouTube or TV, or maybe in a video game - 
            <a href="https://inspirationeducation.co.nz/extended-guides/step-step-guide-acing-ncea-exams/#:~:text=A%20good%20strategy%20is%20to,of%20flashcards%2C%20and%20test%20yourself." target="_blank" rel="noopener noreferrer">inspirationeducation</a></blockquote>
          <p> Relate the concept to your life, where you hear it before, other learning, a game you like, metaphors, or analougies.
            </p>
          <br>

          <h4>Mindmap/cheatsheet</h4>
          <blockquote>For English, note down some quotes on your cheat sheet. For Maths, note down some of the 
            equations you need to remember. Anything you think is essential – put it on the summary 
            sheet. - <a href="https://inspirationeducation.co.nz/extended-guides/step-step-guide-acing-ncea-exams/#:~:text=A%20good%20strategy%20is%20to,of%20flashcards%2C%20and%20test%20yourself." target="_blank" rel="noopener noreferrer">inspirationeducation</a></blockquote>
          <p> Some exmas let you take a handwritten A4 piece of paper into the room. Sadly, NCEA is not one of them.
            But create one anyway. They're a great way to revise!
            </p>
          <br>

          <h4>Become a teacher</h4>
          <blockquote>It is okay (even encouraged) to do this with your notes in your hands. 
            At first you may need to rely on your notes to explain the material, but eventually 
            you’ll be able to teach it without your notes - <a href="" target="_blank" rel="noopener noreferrer">source</a></blockquote>
          <p> This applies to memorization too! When you can explain it out loud, without notes, you know you've got it.
            </p>
          <br>

          <h4>The memory place</h4>
          <blockquote>The memory palace technique involves imagining a location in your mind, 
            like the candy store in town, and placing memorable imagery inside that associate 
            with what you want to remember. Than to remember the information, you simply walk 
            through your palace in your mind - <a href="https://www.aidanhelfant.com/aidans-infinite-play-33-the-ultimate-guide-to-creating-a-memory-palace-for-students/" target="_blank" rel="noopener noreferrer">aidanhelfat</a></blockquote>
          <p> Just need to memorize a list of quotes or vocab? That sucks. But this technique almost makes it fun.
            And you'll recall stuff much longer.
            </p>
          <br>

        </div>

        <div class="col-xs-12 col-md-3">
          <h2>Text</h2>
        </div>

      </div>
    </div>

    <script>
    //on load, check if they have a font preference saved, and apply it
    window.onload = function() {
        const theirFont = localStorage.getItem('selectedFont');
        const theirColor = localStorage.getItem('selectedColor');
        if (theirFont) {
            document.body.classList.add(theirFont);
        }
        if (theirColor) {
        document.body.classList.add(theirColor);
        }
    };
  </script>
  
</body>
</html>