<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crappy dumpster for testing things</title>
</head>
<body>
    <h1>Hello world....</h1>
    <p>{{thing_to_test}}</p>
</body>
</html>

<!--Spare copy of my entire motivation page, for reference-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Motivational Tips</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Studying LHS</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/tutorial1">Start Here</a></li>
              <li><a href="/tutorial2">Make a Plan</a></li>
              <li><a href="/pre-calculator">Calculate Study Time</a></li>
              <li class="active"><a href="/tutorial3">Study Techniques</a></li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="jumbotron text-center">
        <h1>Motivation</h1>
        <p>A comprehensive, collated list, of motivation techniques from all over the internet<p>
    </div>
    
    <div class="container-fluid">
      <div class="row d-flex align-items-stretch">
        <div class="col-md-3">
        </div>
    <div class="col-md-6">
      <h4>Rate urgency</h4>
      <blockquote>It's easy to get fooled into being thinking you're being productive productive 
        by creating to-do lists, in depth study plans, motivational quotes, study-space 
        cleaning rosters, highlighter-colour-code key terms sheets and so on - <a href="https://studytime.co.nz/articles/study-advice/9-study-hacks-when-youre-unmotivated-af/ " target="_blank" rel="noopener noreferrer">studytime</a> </blockquote>
      <p>Write a list of the three most urgent things you need to get done this study session. Just focus on them.</p>
      <br>
      <h4>Fuel your brain</h4>
      <blockquote>When our motivation is low for study we can feel both stressed and drained.
        So boosting your energy usually starts with caring for your body and your brain - <a href="https://www.theinsightcentre.ie/studymotivation/" target="_blank" rel="noopener noreferrer">insightcenter</a>
      </blockquote>
      <p>When you're stressed about studying, try getting a snack or doing some exercise first.</p>
      <br>
      <h4>Fake it till you make it</h4>
      <blockquote>Many people think we need to feel motivated enough before doing something.
        However, psychological research has shown the converse, and it is the action that 
        leads to motivation, which then leads to more action! - <a href="https://ucsa.org.nz/news/article/6013/Our-best-tips-for-motivation-and-study/ " target="_blank" rel="noopener noreferrer">ucsa</a>
      </blockquote>
      <p>Even if you don't feel motivated, just try. Push through the first painful twenty minutes, and hopefully you'll get into the zone.</p>
      <br>
      <h4>10 minute rule</h4>
      <blockquote>Once you get started with a task, it's usually much easier to keep going. - <a href="https://www.verywellmind.com/what-to-do-when-you-have-no-motivation-4796954 " target="_blank" rel="noopener noreferrer">verywellmind</a></blockquote>
      <p>If you really aren't feeling energized for even your first study sprint, give yourself
        permission to quit after ten minutes. Yes, really. Start a ten minute time. You know you can do
         just 10 minutes. This first ten minutes may get you in the zone. And if you not, take it as a sign 
         you need a break. Try getting some exercise, or fueling your brain. Then come back to it.</p>
      <br>
      <h4>Positive self talk</h4>
      <blockquote>After failing a test, students spent more time studying when they spoke to themselves kindly.
        - <a href="https://www.verywellmind.com/what-to-do-when-you-have-no-motivation-4796954 " target="_blank" rel="noopener noreferrer">verywellmind</a>
      </blockquote>
      <p>Tell yourself you are capable of tackling the task, and that you can overcome obstacles. When you think you 
        might fail, argue all the reasons you are going to succeed.
      </p>
      <br>
      <h4>Exercise!</h4>
      <blockquote>It's been proven a hundred times over: regular exercise boosts concentration.
        - <a href="https://www.oxford-royale.com/articles/tips-studying-motivation " target="_blank" rel="noopener noreferrer">oxfordroyale</a>
      </blockquote>
      <p>Get up, play some music, and dance for 15 minutes. Do some starjumps. Run around the garden 10 times. 
        Get the blood flowing to your brain, then come back to the task.
      </p>
      <br>
      <h4>Act as if you're motivated</h4>
      <blockquote>•	Act as if you feel motivated: So ask yourself, “What would I be doing right now if I felt 
        motivated?” Consider what you’d be wearing, how you’d be thinking, and what actions you’d be taking. 
        Then, do these things, and see if your motivation level increases -
        <a href="https://www.verywellmind.com/what-to-do-when-you-have-no-motivation-4796954 " target="_blank" rel="noopener noreferrer">verywellmind</a></blockquote>
      <p>Just start pretending you're motivated. Announce to the world "I am so excited to do __" and get started. You never know.</p>
      <br>
      <h4>Switch it up</h4>
      <blockquote>This is one for really desperate times, ont to be used all year round.
        - <a href="https://www.oxford-royale.com/articles/tips-studying-motivation " target="_blank" rel="noopener noreferrer">oxfordroyale</a>
      </blockquote>
      <p>Get up at 3am. There are no distractions then, you'll be fresh, and can feel smug that you're up working before everyone else.</p>
      <br>
      <h4>Minimising distractions</h4>
      <blockquote>I remind myself that I'll actually enjoy my time on social media or
        messing around doing other stuff more if I do it at a time I won't feel guilty about it.
        - <a href="https://studytime.co.nz/articles/study-advice/9-study-hacks-when-youre-unmotivated-af/ " target="_blank" rel="noopener noreferrer">studytime</a>
      </blockquote>
      <p>Put your phone away when you get home. Like, lock it in your car, powered off.</p>
      <br>
      <h4>The distraction sheet</h4>
      <blockquote>The distraction sheet has helped me no end. If you've got a brain
        that loves to flit from thing to thing, it'll help you too. -
        <a href="https://studytime.co.nz/articles/study-advice/9-study-hacks-when-youre-unmotivated-af/ " target="_blank" rel="noopener noreferrer">studytime</a>
      </blockquote>
      <p>Have a piece of paper beside while you try to focus, and write down anything you suddenly remember you need to do instead of getting up, distracted.</p>
      <br>
      <h4>Something positive</h4>
      <blockquote>Boost your mood by adding a little fun to something you're not motivated to do -
        <a href="https://www.verywellmind.com/what-to-do-when-you-have-no-motivation-4796954 " target="_blank" rel="noopener noreferrer">verywellmind</a>
      </blockquote>
      <p>Burn a scented candle. Create a study playlist. Bring snacks or friends.</p>
      <br>
      <h4>Reward yourself</h4>
      <blockquote>Literally very self explanatory.</blockquote>
      <p>I recommend chocolate.</p>
      <br>
      <h4>Study space</h4>
      <blockquote>It's not just about how you study. <i>Where</i> you study is equally important -
      <a href="ttps://www.vu.edu.au/about-vu/news-events/study-space/how-to-find-the-motivation-to-study" target="noopener noreferrer">vic</a>
      </blockquote>
      <p>This could be anywhere. But it shouldn't be the place you mentally associate with doom scrolling.</p>
      <br>
      <h4>Reconnect with your why</h4>
      <blockquote>Imagine your life in your future after you have completed your study -
        <a href="https://ucsa.org.nz/news/article/6013/Our-best-tips-for-motivation-and-study/ " target="_blank" rel="noopener noreferrer">ucsa</a>
      </blockquote>
      <p>Think about the scholarship money, or how happy your parents will be when you get excellence.</p>
      <br>
      <h4>Hardest thing first</h4>
      <blockquote>I like to force myself to get it over and done with first thing in my study session, so I don’t have to worry about it any more -
        <a href="https://studytime.co.nz/articles/study-advice/9-study-hacks-when-youre-unmotivated-af/ " target="_blank" rel="noopener noreferrer">studytime</a>
      </blockquote>
      <p>Think about how great you'll feel!</p>
      <br>
    </div>
      <div class="col-md-3">
      </div>
      </div>
    </div>

</body>
</html>