<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Making a Plan</title>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Studying LHS</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/tutorial1">Start Here</a></li>
              <li class="active"><a href="/tutorial2">Make a Plan</a></li>
              <li><a href="/tutorial3">How to Study</a></li>
            </ul>
          </div>
        </div>
    </nav>
    
    <div class="jumbotron text-center">
      <h1>Time to set some goals</h1>
    </div>
    
    <div class="container-fluid">
      <div class="row d-flex align-items-stretch">
        <div class="col-md-3">
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
        </div>
      <div class="col-md-6">
            <br><br>
            <h3>Here's some motivation for you</h3>
            <br>
            <p>You can study <b>{{study_time}}</b> hours before your exam</p>
            <p>If you studied just <b>20</b> minutes more per day, you could study <b>{{extra_time}}</b> extra hours in that time!</p>
            {% if spare_days != "0" %}
                <p>You also have <b>{{spare_days}}</b> days where you aren't planning to study.
                     Think how much you could do if you studied then too!</p>
            {% endif %}
            <p>Now to plan <i>how</i> you're going to use that time.</p>
            <p>Let me guess. You know all about <b>smart</b> goals. (Linc amirite). You just don't know exactly <i>how</i> to set them. 
               Try this...</p>
            <br>
            <h3>Step 1 - what to work on</h3>
            <p>Get a piece of paper, right now, and divide it into columns. </p>
            <p>At the top of each column, write down your exam subjects.</p>
            <p>Follow these links for each of your exams subjects. Then return here.</p>
            <br>
            <a href="#" class="btn btn-default" role="button">For science subjects (and math)</a>
            <a href="#" class="btn btn-default" role="button">For essay subjects</a>
            <a href="#" class="btn btn-default" role="button">For languages subjects</a>
            <br>
            <br>
            <h3>Step 2 - when to do it</h3>
            <p>You should have written down your weak areas and time needed for each subject</p>
            <p>Now you need to allocate some time.</p>
            <p>You said you were going to study {{study_time}} hours before your exam. Which day or days of the week will that be?</p>
            <p>Are you going to have a specific day for certain subjects?</p>
            <br>
            <br>
            <h3>Step 3 - accountability</h3>
            <p>Now you know what, and you know when.</p>
            <p>Grab you calender (physical or digital)</p>
            <p>Write in your study time</p>
            <p>Go tell your mum what you're going to study and when.</p>
            <p>It's time to get your bum in that chair and start studying.</p>
            <br>
            <a href="/tutorial3" class="btn btn-default" role="button">Ready to learn some study techniques? Click here!</a>
            <br>
            <br>
            
      </div>
      <div class="col-md-3">
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
      </div>
      </div>
    </div>

    
</body>
</html>