<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Debunking Studying Myths</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Studying LHS</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/tutorial1">Start Here</a></li>
              <li><a href="/tutorial2">Make a Plan</a></li>
              <li class="active"><a href="/tutorial3">How to Study</a></li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="jumbotron text-center">
        <h1>How to study</h1>
        <p>Introducing study tecniques<p>
    </div>
    
    <div class="container-fluid">
      <div class="row d-flex align-items-stretch">
        <div class="col-md-3">
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
          <h2>Text</h2>
        </div>
      <div class="col-md-6">
        <h3>What is studying?</h3>
          <p>Long story short, studying is when you sit down with the intention to prepare for your exams. The <i>intention</i> is to
             make sure you're confident with what you learned in class, and make sure you're confident you're going to be able to 
             deliver on the day of the exams. You want to study so that you know when you walk into the room and have three hours
            you'll be able to recall facts, paragraph structure, mathematical methods and physics techniques, and be able to put 
            it all together to get the mark you want at the end of the day.</p>
            <p>However, it's harder than it sounds. There are a lot of things that can go wrong. For example, how do you know what
               you don't know? What if you're just confused about everything? What if you know what you don't understand, but you 
              don't know where to start in terms of figuring it out? Or maybe you're not in that boat at all. Maybe it's less than 
              a week before you're English exam and no matter how well you know you're quotes and your themes, you don't feel confident
              about going into the room and writing under pressure?</p>
            <p>Whatever your issue, I can help, but there are a lot of study techniques on this website, so to direct you to the ones that 
              are going to be most helpful for you, select which of these best represents your biggest studying roadblock:
            </p>
            <br>
            <a href="/tutorial1" class="btn btn-primary btn-block" role="button">Don't know <i>what</i> to work on</a>
            <br>
            <a href="/tutorial1" class="btn btn-primary btn-block" role="button">Need to break the problem down</a>
            <br>
            <a href="/tutorial1" class="btn btn-primary btn-block" role="button">No motivation</a>
            <br>
            <br>
      </div>
      <div class="col-md-3">
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
        <h2>Text</h2>
      </div>
      </div>
    </div>

</body>
</html>