<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Making a Plan</title>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Studying LHS</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/tutorial1">Start Here</a></li>
          <li class="active"><a href="/tutorial2">Make a Plan</a></li>
          <li><a href="/pre-calculator">Calculate Study Time</a></li>
          <li><a href="/tutorial3">Study Techniques</a></li>
        </ul>
      </div>
    </div>
  </nav>
    
  <div class="jumbotron text-center">
    <h1>The What</h1>
  </div>
    
    <div class="container-fluid">
      <div class="row d-flex align-items-stretch">

        <div class="col-xs-12 col-md-3">
          <h2>Text</h2>
        </div>

        <div class="col-xs-12 col-md-6">
          <h3>Find your weak areas</h3>
          <ul>
            <li>Get a piece of paper and divide it into columns</li>
            <li>At the top of each column, write an exam subject you take</li>
            <li>For each subject*, go to the relevant link below</li>
            <li>Write down the checklist</li>
            <li>Rate each point on the checklist out of five, based on your confidence</li>
            <li>If you aren't sure about the point, try explaining it out loud. Can't explain it? That's a one</li>
          </ul>
          <br>
          <!--this is formatted like a list so the indenting matches the list above-->
          <ul style="list-style-type: none;">
            <li>*Ag, Hort, and Earth and Space Sciences, are also Stem Subjects.</li>
          </ul>
          <br>
          <div class="text-center">
            <a href="/stem" class="btn btn-default" role="button">Stem Subjects</a>
            <a href="/essay_subjects" class="btn btn-default" role="button">Essay Subjects</a>
            <a href="/language_subjects" class="btn btn-default" role="button">Language subjects</a>
          </div>
          <br><br><br><br>
          <div class="text-center">
            <a href="/pre-calculator" class="btn btn-default" role="button">Continue</a>
          </div>
          <br><br><br><br>
        </div>

        <div class="col-xs-12 col-md-3">
          <h2>Text</h2>
        </div>

      </div>
    </div>

</body>
</html>