<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <!-- load CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- load jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- load bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- load my stylesheet -->
    <link rel="stylesheet" href="static/styles.css">

    <!-- load accessibility fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <title>Learning Tips</title>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Studying LHS</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/tutorial1">Start Here</a></li>
          <li><a href="/tutorial2">Make a Plan</a></li>
          <li><a href="/pre-calculator">Calculate Study Time</a></li>
          <li class="active"><a href="/tutorial3">Study Techniques</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1>Understanding</h1>
    <p>A comprehensive, collated list, of tips to learn material, from all over the internet<p>
  </div>
    
  <div class="container-fluid">
    <div class="row d-flex align-items-stretch">
        
      <div class="col-xs-12 col-md-3">
        <h2>Text</h2>
      </div>

      <div class="col-xs-12 col-md-6">
          
            <h4>The SQ3R Method</h4>
            <blockquote>Ever tried to tackle a textbook chapter on a confusing topic, 
              and gotten so overwhelmed you couldn’t take a single thing in? 
              The SQ3R method might be just what you need.  - <a href="https://studytime.co.nz/articles/types-of-learners-dont-exist/" target="_blank" rel="noopener noreferrer">source</a>studytime</blockquote>
            <p> Survey. Read the textbook/teacher's notes/example calculation. Question. Write down everything you find confusing.
              Re-read. Read it over again, and try to answer your questions. Recite. After each chunk of text/major step, try to
              explain in your own words what just happened. Revise. Write a summary of everything you learned.
              </p>
            <br>

            <h4>The Feynman Technique</h4>
            <blockquote>For something a bit more lowkey, but equally effective, give the Feynman technique a go. 
              It relies on just four key steps
              - <a href="https://studytime.co.nz/articles/types-of-learners-dont-exist/" target="_blank" rel="noopener noreferrer">studytime</a></blockquote>
            <p> Step one. Study. However you like. Two. Teach it back to someone else. A mate. The wall. Your dog. 
              Three. Study again, but this time focus on the parts you couldn't explain. Four, summarise. Drawings. Graphs. Mind maps.
              </p>
            <br>

            <h4>Your own words</h4>
            <blockquote>when taking notes by hand, it’s often impossible to write everything down; students have to actively pay 
              attention to the incoming information and process it—prioritize it, consolidate it and try to relate it to things 
              they’ve learned before - <a href="https://www.scientificamerican.com/article/why-writing-by-hand-is-better-for-memory-and-learning/" target="_blank" rel="noopener noreferrer">scientificamerican</a></blockquote>
            <p> Get out a workbook. Break down the ideas. Write down what you do understand. Proccess it. Try to put the pieces together.
              </p>
            <br>

            <h4>Additional material</h4>
            <blockquote>Videos, podcasts, and livestreams can each be a valuable way to convey information, if they exist. 
              Experiment with different media and find what works for you - <a href="https://product.hubspot.com/blog/how-to-learn-complex-things-quickly" target="_blank" rel="noopener noreferrer">hubspot</a></blockquote>
            <p> If you can't understand the textbook or your teacher's explanation, maybe it's time to stop re-reading it.
              </p>
            <br>

            <h4>Update your notes</h4>
            <blockquote>Read the text again. See if you can add to your notes now that you have had 
              some time to digest what you have read - <a href="https://learningessentials.auckland.ac.nz/reading-effectively/in-depth/difficult-material/" target="_blank" rel="noopener noreferrer">learningessentials</a></blockquote>
            <p> Updating your notes is a great way to find holes in your old thinking and find areas to learn.
              </p>
            <br>

            <h4>Leitner system</h4>
            <blockquote>The Leitner System is one of the best study techniques based on 
              flashcards - <a href="https://www.usa.edu/blog/study-techniques/#:~:text=Leitner%20System&text=Ideally%2C%20keep%20your%20cards%20in,(if%20it's%20already%20there)." target="_blank" rel="noopener noreferrer">universitysa</a></blockquote>
            <p> Make your flashcards. Find three or four boxes. All the flashcards start in box one. If you learn a card move if up a box.
              If you fail a card move it down a box. Focus your time on the lowest box, so you aren't re-learning the easy stuff.
              </p>
            <br>

      </div>

      <div class="col-xs-12 col-md-3">
        <h2>Text</h2>
      </div>

    </div>
  </div>

  <script>
    //on load, check if they have a font preference saved, and apply it
    window.onload = function() {
        const theirFont = localStorage.getItem('selectedFont')
        if (theirFont) {
            document.body.classList.add(theirFont);
        }
    };
  </script>

</body>
</html>